.Blogs{
    padding: 10px;
    user-select: none;
    .title{
        font-family: $MF;
        padding: 10px 0;
        color: white;
    }
    .cards{
        .cards-wrapper{
            display: grid;
            cursor: pointer;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @include responsive(xl){
                grid-template-columns: 1fr 1fr 1fr;
            }
            @include responsive(lg){
                grid-template-columns: 1fr 1fr;
            }
            @include responsive(sm){
                grid-template-columns: 1fr;
            }
            gap: 15px;
            .card{
                border-radius: 15px;
                box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
                position: relative;
                overflow: hidden;
                min-height: 300px;
                display: flex;
                flex-direction: column;
                height: 450px;
                justify-content: flex-end;
                .space-100{
                    padding: 100px 0;
                }
                .content{
                    background-color: rgba(255, 255, 255, 0.35);
                    backdrop-filter: blur(135px);
                    position: relative;
                    z-index: 5;
                    padding: 15px 20px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: black;
                    .title-card, .desc, .author{
                        font-family: $MF;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .SelectedBlog{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10000;
        padding: 20px;
        backdrop-filter: blur(500px);
        .wrapper{
            background-color: white;
            padding: 20px;
            border-radius: 1rem;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            .head{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .selectedBlog-body{
                .title{
                    color: black;
                    font-size: 25px;
                }
                .image{
                    position: relative;
                    width: 100%;
                    height: 40vh;
                }
                .content{
                    padding: 20px 0;
                    @include BlogContentCss();
                }
            }
        }
    }
}