.SingleBlog {
    .page {
        .content {
            .image {
                position: relative;
                height: 500px;
            }
        }
    }
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 35px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 20px 0;

        box-sizing: border-box;
        webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    p {
        margin: 10px 0;
        font-size: 23px;
        line-height: 1.5;
        box-sizing: border-box;
        webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    li {
        margin-left: 2rem;

        box-sizing: border-box;
        webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    * {
        color: white;
        font-family: $MF;

        box-sizing: border-box;
        webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
}
