.SingleBlog {
    .page {
        button{
            padding: 2px 15px;
            p{
                font-size: 14px;
                margin: 4px;
            }
        }
        .content {
            .image {
                position: relative;
                height: 500px;
            }
        }
    }
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 35px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 20px 0;

    }
    p {
        margin: 10px 0;
        font-size: 23px;
        line-height: 1.5;
    }
    li {
        margin-left: 2rem;

    }
    * {
        color: white;
        font-family: $MF;

    }
}
