.AddImageUrlModal{
    padding: 20px;
    max-width: 800px;
    width: 100%;
    .wrap{
        background-color: white;
        padding: 20px;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .head{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .input{
            input{
                outline: 1px solid black;
                border: none;
                box-shadow: none;
                border-radius: .3rem;
            }
        }
    }
}